.selected {
    background-color: cadetblue;
    transition: ease-in-out 250ms;
}
.visible {
    visibility: visible;
    transition: ease-in-out 250ms;
}
.disappear {
    visibility: hidden;
    transition: ease-in-out 250ms;
}

.moveUp {
    animation: movingUp ease-in-out 1s;
}

@keyframes movingUp {
    from  {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}

.moveDown {
    animation: movingDown ease-in-out 1s;
}

@keyframes movingDown {
    from  {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0%);
    }
}

.modal {
    z-index: 3;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: black 3px solid;
}
