.visible {
    visibility: visible;
    opacity: 1;
    transition: ease-in-out 500ms;
}

button.icon.selected {
    border: 1px solid var(--secondary-cl);
    color: var(--secondary-cl);
    background-color: var(--primary-cl);
    transition: ease-in-out 250ms;
}

.disappear {
    visibility: hidden;
    opacity: 0;
    transition: ease-in-out 250ms;
}

.moveUp {
    animation: movingUp ease-in-out 1s;
}

@keyframes movingUp {
    from  {
        transform: translateY(20%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

.showCmpChoice {
    animation: showUp ease-in-out 2s;
}

@keyframes showUp {
    from  {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Modals */
.modal {
    z-index: 3;
    width: 50%;
    max-width: 500px;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--root-primary-cl);
    border-radius: 15px;
    box-shadow: 0 0 4px 1px var(--root-accent-cl);
}

.modal .lead {
    font-size: 1.2em;
    font-weight: 900;
    margin-bottom: .4em;
}

.modal p {
    margin-bottom: .7em;
}

.btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.btn-modal {
    min-width: 30%;
    background-color: var(--root-primary-cl);
    color: var(--root-accent-cl);
    border: 1px solid var(--root-accent-cl);
    transition: ease-in-out 250ms;
    margin: 0 auto;
    margin-top: 1.5em;
}

.btn-modal:hover {
    background-color: var(--root-accent-cl);
    border: 1px solid var(--root-primary-cl);
    color: var(--root-primary-cl);
    transition: ease-in-out 250ms;
}

.rivals {
    display: flex;
}

.rivals label {
    width: 100%;
    display: flex;
    display: inline-block;
    text-align: center;
}

.modal .rivals .rival {
    margin: 1em;
}

.modal-input {
    width: 20%;
    border: none;
    background-color: var(--root-primary-cl);
    color: var(--root-accent-cl);
    padding: .1em .5em;
}

.modal-input::placeholder {
    color: var(--root-accent-cl);
}

.modal-message span {
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    color: var(--root-accent-cl);
}

form input {
    margin-top: .5em;
}
