* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-center{
    text-align: center;
}

ul {
    list-style: none;
}

/* Game area */
.game-area {
    max-width: 700px;
    margin: 0 auto;
    background-color: grey;
    height: 100vh;
    position: relative;
}

fieldset {
    border: none;
}

/* Cmp area */
.cmp-area {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: green 1px solid;
}

/* #cmp-choice {

} */

/* Play area */
.play-area {
    height: 15vh;
    display: flex;
    border: solid 1px red;
}

main {
    width: 80%;
    margin: 0 auto;
    border: 1px solid yellow;
}

aside {
    width: 10%;
    position: absolute;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    border:violet 1px solid
}

#cmp-aside {
    left: 0;
}

#player-aside {
    right: 0;
}

.message-area {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-area p {
    position: absolute;
    font-size: 1.3em;
}

.score {
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

#score-cmp {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    bottom: 30%;
    left: 20%;
}

#score-player {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    bottom: 30%;
    right: 20%;
}

.point {
    width: 15px;
    height: 15px;
    margin: .1em;
    border-radius: 50%;
}

.point:nth-child(3) {
    background-color: green;

}

.point:nth-child(2) {
    background-color: yellow;

}

.point:nth-child(1) {
    background-color: red;
}

/* Player area */
#player-display-choice {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#player-choices {
    height: 45vh;
    max-width: 400px;
    margin: 0 auto;
    border: solid 1px rgb(110, 110, 40);
}

.row {
    display: flex;
}

.first {
    justify-content: center;
}

.second {
    justify-content: space-between;
    align-items: center;
}

.third {
    justify-content: space-around;
}

input {
    visibility: hidden;
}

.icon {
    cursor: pointer;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 50%;
}

i {
    font-size: 2.5em;
}

#play-button {
    width: 80px;
    height: 80px;
}